<body>
<div class="form-style-2" >
  <div id="container" style="width:100%;  height:50px; background:#6C6C6C; color:#FFF">
  <label for="inputType"><span><b>Select Topology</b></span><select name = "inputType" id="inputType" class="select-topology">
          
  <option value="0">points</option> 
  <option value="1">vertices</option> 
  <option value="2">edges</option> 
  <option value="3">wires</option>  
  <option value="4">faces</option> 
  <option value="5">shells</option>
  </select></label>
  </div>
  <div id="table1" style="width:100%;  height:100px;overflow:scroll; background:#6C6C6C; color:#FFF">
  <table width=100% height= 15px border="1" cellspacing="0" cellpadding="0" id="table" name = "table">
  <tr>
  <td width="200" name="points">Points</td>
  <td width="300" name="X">X</td>
  <td width="300" name="Y">Y</td>
  <td width="300" name="z">Z</td>
  </tr>
  <tr>
  <td id="p1">1</td>
  <td id="X1">1.0</td>
  <td id="Y1">1.0</td>
  <td id="Z1">1.0</td>
  </tr>
  <tr>
  <td>2</td>
  <td>1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>3</td>
  <td>1.0</td>
  <td>1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>4</td>
  <td>-1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>5</td>
  <td>-1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>6</td>
  <td>-1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>7</td>
  <td>-1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  <tr>
  <td>8</td>
  <td>-1.0</td>
  <td>-1.0</td>
  <td>-1.0</td>
  </tr>
  </table>
  </div>
</div>
</body>